{% extends 'layout.html.twig' %}
{% block contenido %}
	<div class="right_col" role="main">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3></h3>
				</div>
			</div>

			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12 col-sm-12">
					{% for msg in app.session.flashbag.get('notice') %}

						<div class="alert alert-{{ msg.type }} alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							<h2>{{ msg.title }}</h2>

							<div id="copytext">
								<strong>Nombre de usuario:</strong>
								{{ msg.email }}
								<br/>
								<strong>Contraseña:</strong>
								{{ msg.password }}
							</div>

							<br/>
							<br/>

							<button onclick="copy()" class="btn btn-dark btn-sm" type="button" data-dismiss="alert" aria-label="Close">
								<i class="fa fa-clone"></i>
								Copiar</button>
						</div>
					{% endfor %}

					<div class="x_panel">
						<div class="x_title">
							<h2>
								Lista de
								<strong>USUARIOS</strong>
								<small>del sistema Dinámica Miasmática</small>
							</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li>
									<a class="collapse-link">
										<i class="fa fa-chevron-up"></i>
									</a>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div class="row">
								<div class="col-sm-12">
									<div class="card-box table-responsive">
										<p class="text-muted font-13 m-b-30">
											Esta lista muestra todos los usuarios del
																																																																																																																																																										                                                        sistema, los de tipo Super-administrador,
																																																																																																																																																										                                                        los de tipo médicos y los de tipo
																																																																																																																																																										                                                        estudiante.
										</p>
										<table class="table table-striped table-bordered" style="width: 100%" id="datatable">
											<thead>
												<tr>
													<th>Apellido Paterno</th>
													<th>Apellido Materno</th>
													<th>Nombres</th>
													<th>Número de identificación</th>
													<th>Páis</th>
													<th>Fecha de alta</th>
													<th>Estado</th>
													<th>Tipo</th>
													<th>Acciones</th>
												</tr>
											</thead>
											<tbody>
												{% for usuario in usuarios %}
													<tr>
														<td>{{ usuario.apellidoPaterno }}</td>
														<td>{{ usuario.apellidoMaterno }}</td>
														<td>{{ usuario.name }}</td>
														<td>{{ usuario.numeroIdentificacion }}</td>
														<td>{{ usuario.pais }}</td>
														<td>{{ usuario.createdAt |date('d/m/Y') }}</td>
														<td>
															{% if usuario.estado =="activo"%}
																<span class="badge bg-green">Activo</span>
															{% endif %}
															{% if usuario.estado =="desactivado"%}
																<span class="badge badge-warning">Desactivo</span>
															{% endif %}
														</td>
														<td>
															{% if usuario.roles|join(';') =="ROLE_MEDICO"%}
																Médico
															{% endif %}
															{% if usuario.roles|join(';') =="ROLE_ADMIN"%}
																Administrador
															{% endif %}
															{% if usuario.roles|join(';') =="ROLE_ESTUDIANTE"%}
																Estudiante
															{% endif %}

														</td>
														<td>
															<form action="{{ path('usuario_regenerate_password', {'id': usuario.id}) }}" style="display:inline-grid;" method="POST">
																<button class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cambiar contraseña" type="submit" name="submit">
																	<i class="fa fa-unlock-alt"></i>
																</button>
															</form>
															{# <a href="{{ path('usuario_regenerate_password', {'id': usuario.id}) }}" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cambiar contraseña">
																															<i class="fa fa-unlock-alt"></i>
																														</a> #}
															<a href="{{ path('usuario_edit', {'id': usuario.id}) }}" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar">
																<i class="fa fa-pencil"></i>
															</a>
															<form id="{{'deleteform_'~ usuario.id}}" style="display:contents;" method="post" action="{{ path('usuario_delete', {'id': usuario.id}) }}">
																<input type="hidden" name="_method" value="DELETE">
																<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.id) }}">
																<buttom type="button" onclick="deleteEntityAction('{{ 'deleteform_'~usuario.id }}');return false;" class="btn btn-danger btn-xs delete" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar">
																	<i class="fa fa-trash-o"></i>
																</buttom>
															</form>
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts_code %}
	<script>
		function copy(element_id = "copytext") {
var aux = document.createElement("div");
aux.setAttribute("contentEditable", true);
aux.innerHTML = document.getElementById(element_id).innerHTML;
aux.setAttribute("onfocus", "document.execCommand('selectAll',false,null)");
document.body.appendChild(aux);
aux.focus();
document.execCommand("copy");
document.body.removeChild(aux);
}
	</script>
{% endblock %}
