{% extends 'layout.html.twig' %}
{% block title_page %}{% endblock %}

{% block contenido %}
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Informe de Evento</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{path('homepage')}}">Inicio</a>
						</li>
						<li class="breadcrumb-item active">Informes</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<div style="float:right">Exportar:
								<div class="btn-group">
									<a onclick="exportar('reporte')" type="button" class="btn btn-success">
										<i class="fas fa-file-csv"></i>
										CSV</a>
										<input id="evento" value="{{evento.id}}" style="display: none;"/>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="invoice p-3 mb-3">
								<div class="row">
									<div class="col-12">
										<h4>
											<i class="fas fa-globe"></i>
											{{evento.nombre}}</h4>
									</div>
								</div>
								<div class="row invoice-info">
									<div class="col-sm-3 invoice-col" style="margin-bottom: 10px">
                                        <img src="{{asset('uploads/afiches/'~evento.afiche)}}"/>
									</div>
									<div class="col-sm-8 invoice-col">
										<p style="font-weight: bold">
											Del {{evento.desde|date('d/m/Y')}} al {{evento.hasta|date('d/m/Y')}}
										</p>
										<p style="font-weight: bold">Organizado por:</p>
										<p></p>
										<address>
											<strong>{{evento.organizacion}} {{evento.sigla}}</strong>
											
										</address>
										<p>
											{{evento.descripcion}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-12 table-responsive">
										<table class="table table-striped">
											<thead>
												<tr>
													<th>Cantidad de empresas participantes</th>
													<th>Cantidad de usuarios participantes</th>
													<th>Cantidad de reuniones</th>
													<th>Monto total de negocios</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>{{empresas.empresas}}</td>
													<td>{{empresas.participantes}}</td>
													<td>{{reuniones.cantidad_reuniones}}</td>
													<td>{{reuniones.monto_total}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<div class="col-6"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
