<div class="x_content">
	<div class="col-md-123 center-margin">
		{{ form_start(form, {'attr':{'class': 'formValidate form-horizontal form-label-left'} }) }}
		<div class="form-group row">
			<label>Síntoma</label>
			{{ form_widget(form.sintoma) }}
		</div>
		<div class="form-group row">
			<label>Rubro</label>
			{{ form_widget(form.rubro) }}
		</div>
		<div class="form-group row">
			<label>Sub-Rubro</label>
			{{ form_widget(form.subrubro) }}
		</div>
		<div class="form-group row">
			<label>Modalidad</label>
			{{ form_widget(form.modalidad) }}
		</div>
		<div class="form-group row">
			<label>Marcas</label>
			{{ form_widget(form.marcas) }}
		</div>
		<div class="form-group row">
			<label>Capítulo</label>
			{{ form_widget(form.relacion) }}
		</div>

		<div class="ln_solid"></div>
		<div class="item form-group">
			<div class="">
				<button type="submit" class="btn btn-info btn-lg">
					<i class="fa fa-save"></i>
					Guardar</button>
				<a href="{{path('sintoma_index')}}" class="btn btn-warning">
					<i class="fa fa-ban"></i>
					Cancelar</a>

			</div>
		</div>
		{{ form_widget(form._token) }}
		{{ form_end(form,{'render_rest':false}) }}
	</div>
</div>
